*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}
.topnav{
  width: 100%;
  top: 0;
  z-index: 1;
}
.navbar-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px 18px;
}
nav{
  flex: 2;
}
.nav-links{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 35%;
  margin-left: 63%;
  
}
.nav-link{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
.logo{
  margin-left: 25px;
  margin-right: 45%;
}

.header{
  height: 100vh;
  background: url('./img/pexels-engin-akyurt-1463917.jpg');
  background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.header-text{
  background:  rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 27%;
  left: 4%;
  color: rgb(241, 240, 240);
  border-left: 5px solid red;
  width: 50%;
  height: 55%;
  padding: 38px;
}
.header-text h1{
  font-size: 46px;
  margin-bottom: 5%;
}
.learn-more-btn{
  background: red;
  color: #fff;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  border: none;
}
.learn-more-btn:hover{
  background-color: rgb(153, 13, 13);
}
.section-1{
  margin-top: 6%;
  height: 50vh;
  text-align: center;
  width: 100%;
  position: relative;
}
.section-1 p{
  font-size: 25px;
  margin-bottom: 4%;
}
.section-1-img{
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}
.section-1-img img{
  width: 25%;
}
.section-1-btn{
  display: flex;
  justify-content: space-around;
}
.section-1-btn-1{
  border: none;
  width: 10%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 5px solid red;
  position: absolute;
  left: 4%;
  bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-1-btn-1:hover{
  background-color: red;
}
.section-1-btn-1 a{
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.section-1-btn-2{
  border: none;
  width: 10%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 5px solid red;
  position: absolute;
  left: 37.5%;
  bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-1-btn-2:hover{
  background-color: red;

}
.section-1-btn-2 a{
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.section-1-btn-3{
  border: none;
  width: 15%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 5px solid red;
  position: absolute;
  left: 70.8%;
  bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-1-btn-3:hover{
  background-color: red;
}
.section-1-btn-3 a{
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.content-2{
  height: 100vh;
   margin-top: 10%;
  max-width: 100%;
  position: relative;
  background-color: rgb(247, 247, 247);
}

.content-2 h1{
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  width: 35%;
  margin: auto;
  letter-spacing: 2px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.sub-topics{  
  display: flex;
  justify-content: space-evenly;
  margin: 3% 0 ;
  height: 31vh;
  align-items: center;
  font-size: 100%;
}

.sub-topic-1,.sub-topic-2,.sub-topic-3{
  width:20%;
  text-align: center;
  line-height: 30px;
}
.sub a{
  text-decoration: none;
  color: #000;
}

.sub h5{
  font-size: 110%;
  margin-bottom: 5px;
  font-weight: 600;
  color: #1b1d1e;
  letter-spacing: 2px;
  /* width:   0%; */
}
.sub p{
  font-size: 100%;
  line-height: 130%;
  
}
.sub img{
  width: 100%;
  height: 100%;
  margin-bottom: 3%;
}

.content-2-bottom{
  margin-top: 9%;
  margin-left: 45%;
}

.content-2-button{
  border: none;
  width: 10%;
  height: 8%;
  background-color: rgb(247, 247, 247);
  border: 2px solid red;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  color: red;
}

.content-2-button:hover{
  background-color: red;
  color: white;
}

.content-3{
  background-color: #edf2f4;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.content-3-text{
  margin: auto 3%;
}
.content-3-img{
  height: 100vh;
  position: relative;
}
.content-3-img img{
  max-width: 100%;
  height: 100%;
}
.content-3-text h6{
  font-size: 18px;
  font-weight: bold;
  color: #1b1d1e;
  margin-bottom: 4%;
  text-transform: uppercase;
  text-align: center;
}
.content-3-text h2{
  width: 60%;
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 1px;
  margin-bottom: 10%;
  margin-left: 20%;
  color: #1b1d1e;
  text-transform: uppercase;
}
.content-3-text-2{
  display: flex;
  justify-content: space-evenly;
  margin-left: 0;
}

.content-3-subtext-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  text-align: center;
  margin-left: 0;
}
.content-3-subtext-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  text-align: center;
}
.content-3-subtext-1 h5,.content-3-subtext-2 h5{
  font-size: 18px;
  margin-bottom: 3%;
}
.content-3-subtext-1 p,.content-3-subtext-2 p{
  font-size: 20px;
  line-height: 30px;
}

footer{
	position: static;
	bottom: 0;
}
.footer-distributed{
	background-color: #2b2d42;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font-weight: bold;
  font-size: 16px;
  font-family: sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 0%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 30%;
}
.footer-distributed h3{
	color:  #edf2f4;
	font-weight: normal;
  font-size: 36px;
  font-family: 'Cookie', cursive;
	margin: 0;
}
.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color:  #ef233c;
}
.footer-distributed .footer-links{
	color:  #edf2f4;
	margin: 20px 0 12px;
}
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	width: 35%;
}

.footer-center{
  /* line-height: 20px; */
	color:  #92999f;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-center i{
	color: #edf2f4;
	/* font-size: 20px; */
  /* font-weight: normal; */
	height: 38px;
	text-align: center;
	margin: 10px 0px;
}
 .mail{
	/* font-size: 17px; */
	/* line-height: 38px; */
  margin-top: -4%;
}

.phone-div{
  margin-bottom: 0;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #edf2f4;
	vertical-align: middle;
  font-weight: normal;
	margin-left:1%;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #edf2f4;
	text-decoration: none;
}
.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #edf2f4;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-distributed .footer-icons{
	margin-top: 25px;
}
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #edf2f4;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}



  


