*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 16px;
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}
.topnav{
  width: 100%;
  padding-top: 1%;
}
.topnav a.icon{
  display: none;
}
nav{
  /* flex: 2; */
  display: flex;
  justify-content: space-between;
}
.nav-links{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  flex-grow: 1;
  max-width: 40%;
}
.nav-link{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
}
/* .logo{
  margin-left: 25px;
  margin-right: 45%;
} */

.header{
  height: 100vh;
  background: url('./img/pexels-engin-akyurt-1463917.jpg');
  background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
}
.header-text{
  background:  rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 27%;
  left: 4%;
  color: rgb(241, 240, 240);
  border-left: 5px solid red;
  width: 50%;
  height: 55%;
  padding: 38px;
}
.header-text h1{
  font-size: 46px;
  margin-bottom: 5%;
}
.learn-more-btn{
  background: red;
  color: #fff;
  width: 150px;
  height: 50px;
  cursor: pointer;
  font-size: 20px;
  border: none;
}
.learn-more-btn:hover{
  background-color: rgb(153, 13, 13);
}

.section-1{
  margin-top: 6%;
  height: 50vh;
  text-align: center;
  width: 100%;
  position: relative;
}
.section-1 p{
  font-size: 25px;
  margin-bottom: 4%;
}
.section-1-img{
  display: flex;
  justify-content: space-around;
  max-width: 100%;
}
.section-1-img img{
  width: 30%;
}
.section-1-btn{
  display: flex;
  justify-content: space-around;
}
.section-1-btn-1{
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 5px solid red;
  position: absolute;
  left: 1.6%;
  bottom: -13.5%;
    height: 13%;
    width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-1-btn-1:hover{
  background-color: red;
}
.section-1-btn-1 a{
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.section-1-btn-2{
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 5px solid red;
  position: absolute;
  left: 35%;
  bottom: -13.5%;
    height: 13%;
    width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-1-btn-2:hover{
  background-color: red;

}
.section-1-btn-2 a{
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.section-1-btn-3{
  border: none;
  width: 15%;
  height: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  border-left: 5px solid red;
  position: absolute;
  left: 68.35%;
  bottom: -13.5%;
    height: 13%;
    width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-1-btn-3:hover{
  background-color: red;
}
.section-1-btn-3 a{
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.content-2{
  height: 100vh;
   margin-top: 10%;
  max-width: 100%;
  position: relative;
  background-color: rgb(247, 247, 247);
}

.content-2 h1{
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  width: 35%;
  margin: auto;
  letter-spacing: 2px;
  padding-top: 5%;
  padding-bottom: 5%;
}

.sub-topics{  
  display: flex;
  justify-content: space-evenly;
  margin: 3% 0 ;
  height: 31vh;
  align-items: center;
  font-size: 100%;
}

.sub-topic-1,.sub-topic-2,.sub-topic-3{
  width:20%;
  text-align: center;
  line-height: 30px;
}
.sub a{
  text-decoration: none;
  color: #000;
}

.sub h5{
  font-size: 110%;
  margin-bottom: 5px;
  font-weight: 600;
  color: #1b1d1e;
  letter-spacing: 2px;
  /* width:   0%; */
}
.sub p{
  font-size: 100%;
  line-height: 130%;
  
}
.sub img{
  width: 100%;
  height: 100%;
  margin-bottom: 3%;
}

.content-2-bottom{
  margin-top: 7%;
  margin-left: 45%;
}

.content-2-button{
  border: none;
  width: 10%;
  height: 8%;
  background-color: rgb(247, 247, 247);
  border: 2px solid red;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  color: red;
}

.content-2-button:hover{
  background-color: red;
  color: white;
}

.content-3{
  background-color: #edf2f4;
  height: 100vh;
  display: flex;
  justify-content: space-between;
}
.content-3-text{
  margin: auto 3%;
}
.content-3-img{
  height: 100vh;
  position: relative;
  /* width: 100%; */
}
.content-3-img img{
  max-width: 100%;
  height: 100%;
}
.content-3-text h6{
  font-size: 18px;
  font-weight: bold;
  color: #1b1d1e;
  margin-bottom: 4%;
  text-transform: uppercase;
  text-align: center;
}
.content-3-text h2{
  width: 60%;
  text-align: center;
  font-size: 45px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 1px;
  margin-bottom: 10%;
  margin-left: 20%;
  color: #1b1d1e;
  text-transform: uppercase;
}
.content-3-text-2{
  display: flex;
  justify-content: space-evenly;
  margin-left: 0;
}

.content-3-subtext-1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  text-align: center;
  margin-left: 0;
}
.content-3-subtext-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  text-align: center;
}
.content-3-subtext-1 h5,.content-3-subtext-2 h5{
  font-size: 18px;
  margin-bottom: 3%;
}
.content-3-subtext-1 p,.content-3-subtext-2 p{
  font-size: 20px;
  line-height: 30px;
}

footer{
	position: static;
	bottom: 0;
}
.footer-distributed{
	background-color: #2b2d42;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font-weight: bold;
  font-size: 16px;
  font-family: sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 0%;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 30%;
}
.footer-distributed h3{
	color:  #edf2f4;
	font-weight: normal;
  font-size: 36px;
  font-family: 'Cookie', cursive;
	margin: 0;
}
.footer-distributed .footer-left img{
	width: 30%;
}

.footer-distributed h3 span{
	color:  #ef233c;
}
.footer-distributed .footer-links{
	color:  #edf2f4;
	margin: 20px 0 12px;
}
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


.footer-distributed .footer-center{
	width: 35%;
}

.footer-center{
  /* line-height: 20px; */
	color:  #92999f;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-center i{
	color: #edf2f4;
	/* font-size: 20px; */
  /* font-weight: normal; */
	height: 38px;
	text-align: center;
	margin: 10px 0px;
}
 .mail{
	/* font-size: 17px; */
	/* line-height: 38px; */
  margin-top: -4%;
}

.phone-div{
  margin-bottom: 0;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #edf2f4;
	vertical-align: middle;
  font-weight: normal;
	margin-left:1%;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;

}

.footer-distributed .footer-center p a{
	color:  #edf2f4;
	text-decoration: none;
}
.footer-distributed .footer-right{
	width: 30%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #edf2f4;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-distributed .footer-icons{
	margin-top: 25px;
}
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #edf2f4;
	text-align: center;
	line-height: 35px;
}

@media(max-width: 1024px){
  .header-text{
    width: 60%;
  }
.header-text h1{
  font-size: 42px;
}
.section-1 p{
  font-size: 20px;
}
.section-1-btn-1,.section-1-btn-2,.section-1-btn-3{
  bottom: -1%;
    height: 10%;
    width: 20%;
}
.sub h5{
  font-size: 100%;
}
.sub p{
  font-size: 80%;
}
.content-2-button{
  width: 14%;
}
.content-3-text h2{
    font-size: 36px;
}
.footer-center{
   font-size: 14px;
   margin-left: 2%;
}
.location{
  width: 200%;
}
.location p{
 width: 40%;
}
}
@media(max-width : 768px){
  .nav-links{
    max-width: 50%;
  }
  .nav-link{
    font-size: 16px;
  }
  .header-text{
    width: 70%;
  }
  .header-text h1{
    font-size: 40px;
  }
  .section-1 p{
    font-size: 18px;
  }
  .section-1-btn-1,.section-1-btn-2,.section-1-btn-3{
    bottom: 15%;
    height: 10%;
    width: 20%;
  }
  .section-1-btn-1 a,.section-1-btn-2 a,.section-1-btn-3 a{
    font-size: 16px;
  }
  .content-2 h1{
    font-size: 28px;
  }
  .sub-topics{
    margin: 10% 0 ;
  height: 31vh;
  }
  .sub h5{
   font-size: 14px;
   line-height: 20px;
  }
  .sub p{
    font-size: 12px;
  }
  .content-2-button{
    width: 18%;
    margin: auto;
  }
  .content-3-img{
    width: 50%;
  }
  .content-3-text{
    margin: 5% auto;
  }
  .content-3-text h6{
  font-size: 16px;
  }
  .content-3-text h2{
    font-size: 30px;
  }
  .content-3-subtext-1 h5,.content-3-subtext-2 h5{
    font-size: 16px;
  }
  .content-3-subtext-1 p,.content-3-subtext-2 p{
    font-size: 16px;
    width: 110%;
  }
  .footer-links{
    font-size: 14px;
    width: 100%;
  }
  .footer-center{
   font-size: 14px;
   margin-left: 2%;
 }
 .location{
  width: 200%;
}
.location p{
 width: 40%;
}
.footer-icons{
  width: 100%;
}
}
@media only screen and (max-device-width : 425px){
  html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
    }
  body{
    font-size: 12px;
    width: 100%;
  }
  .topnav{
    height: 100%;
  }
  .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    z-index: 1;
  }
  
  .nav-links{
    display: none;
    background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9);
  z-index: 1;
  
  }
  .topnav a {
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    /* background-color: violet; */
    /* width: 100%; */
  }
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: red;
  }
  .topnav a.icon:hover{
    color: white;
  }
  .header{
    height: 90vh;
  }
  .header-text{
    width: 100%;
    height: 50%;
    left: 0;

  }
  .header-text h1{
    font-size: 32px;
    line-height: 43px;
  }
  .learn-more-btn{
  font-size: 18px;
  height: 45px;
  }
  .section-1{
    margin-top: 7%;
    height: 100%;
  }
  .section-1 p{
    font-size: 18px;
    width: 80%;
    margin: 4% auto;
  }
  .section-1-img{
    flex-direction: column;
    row-gap: 40px;
    justify-content: space-around;
    height: 100%;

  }
  .section-1-img img{
    width: 100%;
  }
  .section-1-btn{
  flex-direction: column;
  }
  .section-1-btn-1,.section-1-btn-2,.section-1-btn-3{
    width: 50%;
    height: 3%;
  }
  .section-1-btn-1{
    top: 35%;
    left: 0;
  }
  .section-1-btn-2{
    top: 68.2%;
    left: 0;
  }
  .section-1-btn-3{
    top: 97%;
    left: 0;
  }
  .content-2{
    height: 305vh;
  }
  .content-2 h1{
    padding-top: 15%;
    padding-bottom: 10%;
  }
 .sub-topics{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: auto;

 } 
 .sub{
   width: 80%;
 }
 .sub img{
   width: 100%;
 }
 .sub h5{
   font-size: 16px;
 }
 .sub p{
   width: 70%;
   margin: 0 auto 5%;
   font-size: 12px;
 }
 .content-2-bottom{
  margin-top: 9%;
  margin-left: 30%;
 }
 .content-2-button{
   width: 40%;
   height: 3%;
 }
 .content-3{
   height: 100vh;
 }
 .content-3-text{
  box-shadow: 10px 10px 16px 14px #e7e7e7;
  height: 70vh;
  margin: auto;
 }
 .content-3-text h6{
   margin-top: 6%;
   font-size: 14px;
 }
 .content-3-text h2{
   font-size: 20px;
   line-height: 30px;
   margin-bottom: 15%;
 }
 .content-3-text-2{
   justify-content: space-between;
   width: 100%;
   column-gap: 7%;
   margin-top: auto;
 }
 .text-3{
   width: 35%;
 }
 .text-3 h5{
   font-size: 16px;
   width: 110%;
   text-align: center;
 }
 .text-3 p{
  font-size: 14px;
  width: 100%;
  line-height: 20px;
 }
.content-3-subtext-1{
  margin-left: 5%;
}
.content-3-subtext-2{
  margin-right: 8%;
}
 .content-3-img{
  display: none;
}
.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
  .footer-links{
    width: 110%;
  }
  .footer-center p{
    padding-left: 0%;
  }
  .footer-center i{
    margin-left: 0;
  }
 .location p{
   width: 30%;
   margin-right: 50%;
   text-align: center;
 }
}

@media only screen and (max-device-width : 375px){
  html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
    }
  body{
    font-size: 12px;
    width: 100%;
  }
  .nav-links{
    display: none;
  }
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
  }
  .topnav a.icon:hover{
    color: red;
  }
  .header{
    height: 90vh;
  }
  .header-text{
    width: 100%;
    height: 50%;
    left: 0;

  }
  .header-text h1{
    font-size: 27px;
    line-height: 40px;
  }
  .learn-more-btn{
  font-size: 18px;
  height: 40px;
  }
  .section-1{
    margin-top: 7%;
    height: 100%;
  }
  .section-1 p{
    font-size: 18px;
    width: 80%;
    margin: 4% auto;
  }
  .section-1-img{
    flex-direction: column;
    row-gap: 40px;
    justify-content: space-around;
    height: 100%;

  }
  .section-1-img img{
    width: 100%;
  }
  .section-1-btn{
  flex-direction: column;
  }
  .section-1-btn-1,.section-1-btn-2,.section-1-btn-3{
    width: 50%;
    height: 3%;
  }
  .section-1-btn-1{
    top: 35%;
    left: 0;
  }
  .section-1-btn-2{
    top: 68.3%;
    left: 0;
  }
  .section-1-btn-3{
    top: 97%;
    left: 0;
  }
  .content-2{
    height: 290vh;
  }
  .content-2 h1{
    padding-top: 15%;
    padding-bottom: 10%;
  }
 .sub-topics{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: auto;

 } 
 .sub{
   width: 80%;
 }
 .sub img{
   width: 100%;
 }
 .sub h5{
   font-size: 16px;
 }
 .sub p{
   width: 70%;
   margin: 0 auto 5%;
   font-size: 12px;
 }
 .content-2-bottom{
  margin-top: 9%;
  margin-left: 30%;
 }
 .content-2-button{
   width: 40%;
   height: 3%;
 }
 .content-3{
   height: 100vh;
 }
 .content-3-text{
  box-shadow: 10px 10px 16px 14px #e7e7e7;
  height: 70vh;
  margin: auto;
 }
 .content-3-text h6{
   margin-top: 6%;
   font-size: 14px;
 }
 .content-3-text h2{
   font-size: 20px;
   line-height: 30px;
   margin-bottom: 15%;
 }
 .content-3-text-2{
   justify-content: space-between;
   width: 100%;
   column-gap: 7%;
   margin-top: auto;
 }
 .text-3{
   width: 35%;
 }
 .text-3 h5{
   font-size: 16px;
   width: 110%;
   text-align: center;
 }
 .text-3 p{
  font-size: 14px;
  width: 100%;
  line-height: 20px;
 }
.content-3-subtext-1{
  margin-left: 5%;
}
.content-3-subtext-2{
  margin-right: 8%;
}
 .content-3-img{
  display: none;
}
.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
  .footer-links{
    width: 110%;
  }
  .footer-center p{
    padding-left: 0%;
  }
  .footer-center i{
    margin-left: 0;
  }
 .location p{
   width: 30%;
   margin-right: 50%;
   text-align: center;
 }
}

@media only screen and (max-device-width : 320px){
  html,body {
    margin:0;
    padding:0;
    overflow-x:hidden;
    }
  body{
    font-size: 12px;
    width: 100%;
  }
  .nav-links{
    display: none;
  }
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
  }
  .topnav a.icon:hover{
    color: red;
  }
  .header{
    height: 90vh;
  }
  .header-text{
    width: 100%;
    height: 50%;
    left: 0;

  }
  .header-text h1{
    font-size: 26px;
    line-height: 40px;
  }
  .learn-more-btn{
  font-size: 18px;
  height: 40px;
  }
  .section-1{
    margin-top: 7%;
    height: 100%;
  }
  .section-1 p{
    font-size: 18px;
    width: 80%;
    margin: 4% auto;
  }
  .section-1-img{
    flex-direction: column;
    row-gap: 40px;
    justify-content: space-around;
    height: 100%;

  }
  .section-1-img img{
    width: 100%;
  }
  .section-1-btn{
  flex-direction: column;
  }
  .section-1-btn-1,.section-1-btn-2,.section-1-btn-3{
    width: 50%;
    height: 3%;
  }
  .section-1-btn-1{
    top: 37%;
    left: 0;
  }
  .section-1-btn-2{
    top: 69%;
    left: 0;
  }
  .section-1-btn-3{
    top: 97%;
    left: 0;
  }
  .content-2{
    height: 250vh;
  }
  .content-2 h1{
    padding-top: 15%;
    padding-bottom: 10%;
  }
 .sub-topics{
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   height: auto;

 } 
 .sub{
   width: 80%;
 }
 .sub img{
   width: 100%;
 }
 .sub h5{
   font-size: 16px;
 }
 .sub p{
   width: 70%;
   margin: 0 auto 5%;
   font-size: 12px;
 }
 .content-2-bottom{
  margin-top: 9%;
  margin-left: 30%;
 }
 .content-2-button{
   width: 40%;
   height: 3%;
 }
 .content-3{
   height: 100vh;
 }
 .content-3-text{
  box-shadow: 10px 10px 16px 14px #e7e7e7;
  height: 70vh;
  margin: auto;
 }
 .content-3-text h6{
   margin-top: 6%;
   font-size: 14px;
 }
 .content-3-text h2{
   font-size: 20px;
   line-height: 30px;
   margin-bottom: 15%;
 }
 .content-3-text-2{
   justify-content: space-between;
   width: 100%;
   column-gap: 7%;
   margin-top: auto;
 }
 .text-3{
   width: 35%;
 }
 .text-3 h5{
   font-size: 14px;
   width: 110%;
   text-align: center;
 }
 .text-3 p{
  font-size: 12px;
  width: 100%;
  line-height: 20px;
 }
.content-3-subtext-1{
  margin-left: 5%;
}
.content-3-subtext-2{
  margin-right: 8%;
}
 .content-3-img{
  display: none;
}
.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
  .footer-links{
    width: 110%;
  }
  .footer-center p{
    padding-left: 0%;
  }
  .footer-center i{
    margin-left: 0;
  }
 .location p{
   width: 30%;
   margin-right: 50%;
   text-align: center;
 }
}




  


